.Cartlist {
	width: 100%;

	button {
		width: 2em;
		height: 2em;
		padding: 0;
	}

	.item {
		padding: var(--space-lg);
		width: 100%;
		box-shadow: var(--shadow);

		.name {
			width: 10ch;
		}

		.actions {
			width: 15ch;
		}

		.price {
			width: 10ch;
			font-weight: bold;
		}

		.delete {
			width: 5ch;
		}
	}
}
