.Button {
	background-color: var(--dark);
	padding: var(--gap-sm);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	font: inherit;
	transition-duration: var(--duration);
	gap: var(--gap-sm);

	&:hover {
		background-color: var(--common);
		color: var(--dark);
	}

	&:focus {
		outline: 1px solid var(--dark);
	}
}
